{% extends 'manager/base.html'%} {% block body %}

<form action="" method="post" class="commodity_research-add-product">
  <div class="justify-content">
    {{ form.hidden_tag() }} {% for field in form if field.name not in
    ['csrf_token', 'submit'] %}
    <div class="col-md-8">{{ field.label() }}</div>
    {% if field.errors %}
    <div class="col-md-8">{{ field(class_="form-control is-invalid")}}</div>
    {% for e in field.errors %}
    <span class="color-red"> {{ e }} </span>
    {% endfor %} {% else %}
    <div class="col-md-8">{{field(class_="form-control")}}</div>
    {% endif %} {% endfor %}
    <br />
    <div class="col-md-8">{{ form.submit(class="btn btn-primary") }}</div>
  </div>
</form>

{% endblock %}
