{% extends 'manager/base.html'%} {% block body %}
<form action="" method="post" class="admin-add-product">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert-messages alert alert-danger">{{ messages[0] }}</div>
  {% endif %} {% endwith %} {{ form.hidden_tag() }} {% for field in form if
  field.name not in ['csrf_token', 'submit'] %}
  <!--    <br>-->
  <div class="col-md-6">{{ field.label() }}</div>
  <div class="justify-content">
    {% if field.errors %}
    <div class="col-md-6">{{ field(class_="form-control is-invalid")}}</div>
    <!--  <span  class="invalid-feedback ">-->
    {% for e in field.errors %}
    <!--                <div class="invalid-feedback">-->
    <span class="color-red"> {{ e }} </span>
    {% endfor %} {% else %}

    <div class="col-md-3 no-padding">{{field(class_="form-control")}}</div>

    {% endif %} {% endfor %}
    <br />
    <div class="col-md-3 no-padding">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </div>
</form>
<table class="table1 customer-report">
  <tbody>
    <tr>
      <td class="td-header">id Заказа</td>
      <td class="td-header">ФИО клиента</td>
      <td class="td-header">Кол-во заказов</td>
      <td class="td-header">Итоговая стоимость заказов</td>
      <td class="td-header">Размер скидки</td>
    </tr>
    {% for row in query %}
    <tr>
      <td>{{row['id']}}</td>
      <td class="order-fio-client">
        {{'{0} {1} {2}'.format(row['surname'], row['name'], row['patronymic'])}}
      </td>
      <td>{{row['count']}}</td>
      <td>{{row['sum_value']}}</td>
      <td>{{row['discount']}}</td>
      <td class="td-link"></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
