{% extends "base.html" %}

{% block body %}
<!--<div class="form-container">-->
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<form action="" method="post" >
  {{ form.hidden_tag() }}
  <div class="justify-content">

      <div class="col-md-6">
{{ form.surname.label() }}
          </div>
  {% if form.surname.errors %}
            <div class="col-md-8">
  {{ form.surname(class_="form-control is-invalid")}}
                          </div>
    {% for e in form.surname.errors %}
<span class="">
    {{ e }}
</span>
    {% endfor %}
        <br>
  {% else %}
        <div class="col-md-8">
  {{form.surname(class_="form-control", value="{0}".format(surname))}}
          </div>
  {% endif %}

  <div class="col-md-6">
    {{ form.name.label() }}
      </div>
  {% if form.name.errors %}
            <div class="col-md-8">
  {{ form.name(class_="form-control is-invalid")}}
                          </div>
    {% for e in form.name.errors %}
<span class="">
    {{ e }}
</span>
    {% endfor %}
        <br>
  {% else %}
        <div class="col-md-8">
  {{form.name(class_="form-control", value="{0}".format(name) )}}
          </div>
  {% endif %}

  <div class="col-md-8">
    {{ form.patronymic.label() }}
      </div>
  {% if form.patronymic.errors %}
            <div class="col-md-8">
  {{ form.patronymic(class_="form-control is-invalid")}}
                          </div>
    {% for e in form.patronymic.errors %}
<span class="">
    {{ e }}
</span>
    {% endfor %}
        <br>
  {% else %}
        <div class="col-md-8">
  {{form.patronymic(class_="form-control", value="{0}".format(patronymic))}}
          </div>
  {% endif %}


   <div class="col-md-8">
   {{ form.number_phone.label() }}
       </div>
  {% if form.number_phone.errors %}
            <div class="col-md-8">
  {{ form.number_phone(class_="form-control is-invalid")}}
                          </div>
    {% for e in form.number_phone.errors %}
<span class="">
    {{ e }}
</span>
    {% endfor %}
        <br>
  {% else %}
        <div class="col-md-8">
  {{form.number_phone(class_="form-control", value="{0}".format(number_phone) )}}
          </div>
  {% endif %}


     <div class="col-md-8">
 {{ form.login.label() }}
     </div>
  {% if form.login.errors %}
            <div class="col-md-8">
  {{ form.login(class_="form-control is-invalid")}}
                          </div>
    {% for e in form.login.errors %}
<span class="">
    {{ e }}
</span>
    {% endfor %}
        <br>
  {% else %}
        <div class="col-md-8">
  {{form.login(class_="form-control", value="{0}".format(login) )}}
          </div>
  {% endif %}

               <div class="col-md-8">
   {{ form.password.label() }}
       </div>
  {% if form.password.errors %}
            <div class="col-md-8">
  {{ form.password(class_="form-control is-invalid")}}
                          </div>
    {% for e in form.password.errors %}
<span class="">
    {{ e }}
</span>
    {% endfor %}
        <br>
  {% else %}
        <div class="col-md-8">
  {{form.password(class_="form-control", value="{0}".format(password) )}}
          </div>
  {% endif %}

  <br>
  <div class="col-md-8">
      {{ form.submit(class_="btn btn-primary btn-submit") }}
</div>
            </div>
</form>
{% endblock %}