{% extends 'base.html' %}
{% block title %}
Админ
{% endblock %}
{% block nav %}
    <nav class="nav ">
      <a class="nav-link" href="/admin/change_client">Просмотр и изменение клиентов</a>
      <a class="nav-link" href="/admin/change_product">Просмотр и изменение товаров</a>
      <a class="nav-link" href="/admin/change_characteristic">Просмотр и изменение характеристик</a>
      <a class="nav-link" href="/admin/add_client">Добавление нового клиента</a>
      <a class="nav-link" href="/admin/add_product">Добавление нового товара</a>
      <a class="nav-link" href="/admin/add_characteristic">Добавление характеристик товара</a>
      <a class="nav-link" href="/admin/add_size">Добавление размера товара</a>
      <a class="nav-link" href="/admin/add_color">Добавление цвета товара</a>
    </nav >
      {% endblock %}
