<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!--<div class=" flex-md-row align-items-center pb-3 mb-4 border-bottom">-->
    <div class="navbar login-nav">
      <!-- <div class="right"> -->
      {% if not current_user.is_authenticated %}
      <div class="right">
        <a
          href="{{ url_for('registration') }}"
          class="navbar-item btn btn-secondary"
        >
          Регистрация
        </a>
        <a href="{{ url_for('login') }}" class="navbar-item btn btn-light">
          Войти в аккаунт
        </a>
      </div>

      {% endif %} {% if current_user.is_authenticated %}
      <div class="right">
        <!-- <div class="client-block"> -->
        <a href="{{ url_for('logout') }}" class="btn btn-dark">
          Выйти из аккаунта
        </a>
        <!-- </div> -->
      </div>
      {% endif %}
    </div>

    <div class="container">
      {% block nav %} {% endblock %}
      <!--    </nav>-->
      <!--  </div>-->
      <div class="content">{% block body %} {% endblock %}</div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
