{% extends 'client.html'%} {% block body %}
<table class="table1">
  <tbody>
    <tr>
      <td class="td-header">id</td>
      <td class="td-header">Бренд</td>
      <td class="td-header">Категория</td>
      <td class="td-header">Описание</td>
      <td class="td-header">Цена</td>
      <td class="td-header">Вес</td>
    </tr>
    {% for row in query %}
    <tr>
      <td>{{row['id']}}</td>
      <td>{{row['brand_name']}}</td>
      <td>{{row['category_name']}}</td>
      <td>{{row['description']}}</td>
      <td>{{row['cost']}}</td>
      <td>{{row['weight']}}</td>
      <td class="td-link">
        <a class="btn btn-info" href="/client/catalog/product/{{ row.id }}"
          >подробнее</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
