{% extends 'client.html'%}
{% block body %}
<table class="table1">
            <tbody>
            <tr >
                <td> id</td>
                <td>Бренд</td>
                <td>Категория</td>
                <td>Количество на складе</td>
            </tr >
            {% for row in query %}
            <tr >
                <td>
                    {{row['op_id']}}
                </td>
                 <td>
                    {{row['brand_name']}}
                </td>
                 <td>
                    {{row['category_name']}}
                </td>
                 <td>
                    {{row['quantity']}}
                </td>
            </tr>
            {% endfor %}

</tbody>
        </table>
<a class="btn btn-success" href="/client/add_order">добавить заказ</a>

{% endblock %}