{% extends 'commodity_research.html'%} {% block body %}
<table class="table1">
  <tbody>
    <tr>
      <td>id</td>
      <td>Бренд</td>
      <td>Категория</td>
      <td>Описание</td>
      <td>Цена</td>
      <td>Вес</td>
    </tr>
    {% for row in query %}
    <tr>
      <td>{{row['id']}}</td>
      <td>{{row['brand_name']}}</td>
      <td>{{row['category_name']}}</td>
      <td>{{row['description']}}</td>
      <td>{{row['cost']}}</td>
      <td>{{row['weight']}}</td>
    </tr>
  </tbody>
</table>
<a
  class="btn btn-success"
  href="/commodity_research/change_product/{{ row['id'] }}/update"
  >Изменить</a
>
<a
  class="btn btn-danger"
  href="/commodity_research/change_product/{{ row['id'] }}/del"
  >удалить</a
>
{% endfor %} {% endblock %}
