{% extends 'commodity_research.html'%} {% block body %}

<form action="" method="post" class="commodity_research-add-product">
  {{ form.hidden_tag() }} {% for field in form if field.name not in
  ['csrf_token', 'submit'] %}
  <!--    <br>-->
  <div class="col-md-6">{{ field.label() }}</div>
  <div class="justify-content">
    {% if field.errors %}
    <div class="col-md-6">{{ field(class_="form-control is-invalid")}}</div>
    <!--  <span  class="invalid-feedback ">-->
    {% for e in field.errors %}
    <!--                <div class="invalid-feedback">-->
    <span class="color-red">
      {{ e }}
      <!--                                      </div>-->
    </span>
    {% endfor %}
    <!--    <br>-->

    <!--  </span>-->

    {% else %} {% if field.name in ['description'] %}
    <div class="col-md-8">{{field(class_="form-control description")}}</div>
    {% else %}
    <div class="col-md-8">{{field(class_="form-control")}}</div>
    {%endif%} {% endif %} {% endfor %}
    <br />
    <div class="col-md-8">
      <!--    <p class="btn btn-primary">-->
      {{ form.submit(class="btn btn-primary") }}
      <!--    </p>-->
    </div>
  </div>
</form>

{% endblock %}
