{% extends 'commodity_research.html'%} {% block body %}
<table class="table1">
  <tbody>
    <tr>
      <td class="td-header">id</td>
      <td class="td-header">Бренд</td>
      <td class="td-header">Катеогория продукта</td>
      <td class="td-header">Размер</td>
      <td class="td-header">Цвет</td>
      <td class="td-header">Количество</td>
    </tr>
    {% for row in query %}
    <tr>
      <td>{{row['id']}}</td>
      <td>{{row['brand_name']}}</td>
      <td>{{row['category_name']}}</td>
      <td>{{row['size_name']}}</td>
      <td>{{row['color_name']}}</td>
      <td>{{row['count']}}</td>
    </tr>
  </tbody>
</table>
<a
  class="btn btn-success"
  href="/commodity_research/change_characteristic/{{row['id']}}/update"
  >Изменить</a
>
<a
  class="btn btn-danger"
  href="/commodity_research/change_characteristic/  {{row['id']}}/del"
  >удалить</a
>
{% endfor %} {% endblock %}
