{% extends 'base.html' %} {% block title %} Админ {% endblock %} {% block nav %}
<nav class="nav">

  <a class="nav-link" href="/commodity_research/change_product"
    >Просмотр и изменение товаров</a
  >
  <a class="nav-link" href="/commodity_research/change_characteristic"
    >Просмотр и изменение характеристик</a
  >
  <a class="nav-link" href="/commodity_research/add_product"
    >Добавление нового товара</a
  >
  <a class="nav-link" href="/commodity_research/add_characteristic"
    >Добавление характеристик товара</a
  >
  <a class="nav-link" href="/commodity_research/add_size"
    >Добавление размера товара</a
  >
  <a class="nav-link" href="/commodity_research/add_color"
    >Добавление цвета товара</a
  >
</nav>
{% endblock %}
