{% extends 'manager.html'%} {% block body %}
<table class="table1">
  <tbody>
    <tr>
      <td class="td-header">id</td>
      <td class="td-header">Фамилия</td>
      <td class="td-header">Имя</td>
      <td class="td-header">Отчество</td>
      <td class="td-header">Номер телефона</td>
      <td class="td-header">Логин</td>
      <td class="td-header">Пароль</td>
    </tr>
    {% for row in query %}
    <tr>
      <td>{{row['id']}}</td>
      <td>{{row['surname']}}</td>

      <td>{{row['name']}}</td>
      <td>{{row['patronymic']}}</td>
      <td>{{row['number_phone']}}</td>
      <td>{{row['login']}}</td>
      <td>{{row['password']}}</td>
      <td class="td-link">
        <a class="btn btn-info" href="/manager/change_client/{{row['id']}}"
          >подробнее</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
