{% extends 'manager.html'%} {% block body %}
<table class="table1">
  <tbody>
    <tr>
      <td>id</td>
      <td>Фамилия</td>
      <td>Имя</td>
      <td>Отчество</td>
      <td>Номер телефона</td>
      <td>Логин</td>
      <td>Пароль</td>
    </tr>
    {% for row in query %}
    <tr>
      <td>{{row['id']}}</td>
      <td>{{row['surname']}}</td>

      <td>{{row['name']}}</td>
      <td>{{row['patronymic']}}</td>
      <td>{{row['number_phone']}}</td>
      <td>{{row['login']}}</td>
      <td>{{row['password']}}</td>
    </tr>
  </tbody>
</table>
<a class="btn btn-success" href="/manager/change_client/{{ row['id'] }}/update"
  >Изменить</a
>
<a class="btn btn-danger" href="/manager/change_client/{{ row['id'] }}/del"
  >удалить</a
>
{% endfor %} {% endblock %}
