{% extends 'manager.html'%} {% block body %}
<table class="table1">
  <tbody>
    <tr>
      <td class="td-header">id Заказа</td>
      <td class="td-header">ФИО клиента</td>
      <td class="td-header">Статус заказа</td>
      <td class="td-header">Сумма заказа</td>
      <td class="td-header">Дата совершения заказа</td>
      <td class="td-header">Дата завершнения заказа</td>
    </tr>
    {% for row in query %}
    <tr>
      <td>{{row['id']}}</td>
      <td class="order-fio-client">
        {{'{0} {1} {2}'.format(row['surname'], row['name'], row['patronymic'])}}
      </td>
      <td>{{row['order_status']}}</td>
      <td>{{row['order_value']}}</td>
      <td>{{row['date_of_registration']}}</td>
      <td>
        {% if row['completion_date']%} {{row['completion_date']}} {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
