{% extends 'manager.html'%} {% block body %} {% if current_user.is_authenticated
%}

<table class="table1">
  <tbody>
    <tr>
      <td class="td-header">Адрес</td>
      <td class="td-header">Время работы</td>
      <td class="td-header">Номер телефона</td>
    </tr>
    {% for row in query %}
    <tr>
      <td>{{row['address']}}</td>
      <td>
        {{row['time_start'].strftime("%H:%M")}} - {{
        row['time_end'].strftime("%H:%M")}}
      </td>
      <td>{{row['number_phone_pp']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--    </div>-->
{% endif %} {% endblock %}
