{% extends 'commodity_research/base.html'%} {% block body %}
<table class="table1">
  <tbody>
    <tr>
      <td class="td-header">id</td>
      <td class="td-header">Бренд</td>
      <td class="td-header">Катеогория продукта</td>
      <td class="td-header">Размер</td>
      <td class="td-header">Цвет</td>
      <td class="td-header">Количество</td>
      <!--                <td class="td-link">-->
      <!--                <a class="btn btn-warning fgdfg" href="/tables">таблица</a>-->
      <!--                </td>-->
    </tr>
    {% for row in query %}
    <tr>
      <td>{{row['id']}}</td>
      <td>{{row['brand_name']}}</td>
      <td>{{row['category_name']}}</td>

      <td>{{row['size_name']}}</td>
      <td>{{row['color_name']}}</td>
      <td>{{row['count']}}</td>
      <td class="td-link">
        <a
          class="btn btn-info"
          href="/commodity_research/change_characteristic/{{ row['id'] }}"
          >подробнее</a
        >
      </td>

      <!--                <td class="td-link">-->
      <!--                </td>-->
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
